#adminoptions-tab {
  /* tab-content heading */
  /* border on active tab option */
  /* extra padding on messages */
}
#adminoptions-tab .jq-tab-content h3 {
  padding-top: 0;
  margin-top: 0;
}
#adminoptions-tab .jq-tab-title.active {
  border-left: solid 8px #76C0A9 !important;
}
#adminoptions-tab .adminoptions-messages {
  padding: 10px;
}
#adminoptions-tab .adminoptions-settings-form {
  max-width: 450px;
}
#adminoptions-tab .adminoptions-hidden {
  display: none;
}
#adminoptions-tab .control-field.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}
#adminoptions-tab .control-field.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#adminoptions-tab .control-field.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  /* Rounded sliders */
}
#adminoptions-tab .control-field.switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#adminoptions-tab .control-field.switch .slider.round {
  border-radius: 12px;
}
#adminoptions-tab .control-field.switch .slider.round:before {
  border-radius: 50%;
}
#adminoptions-tab .control-field.switch input:checked + .slider {
  background-color: #76C0A9;
}
#adminoptions-tab .control-field.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}
#adminoptions-tab .control-field.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #76C0A9;
          box-shadow: 0 0 1px #76C0A9;
}
#adminoptions-tab .control-field.slider .slider-label {
  margin-bottom: 16px;
}
#adminoptions-tab .button-primary[type=submit] {
  background-color: #76C0A9;
  border-color: #53b093;
}
#adminoptions-tab .button-primary[type=submit]:hover {
  background-color: #53b093;
}

.jq-tab-content {
  max-width: clamp(450px, 700px, 75vw);
}
.jq-tab-content .section {
  padding: 12px;
  border: 1px solid #9ecfcf;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #eaeaea;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #86c3c3;
  margin-bottom: 20px;
}
.jq-tab-content .section[data-section-can-collapse] h3 {
  cursor: pointer;
}
.jq-tab-content .section h3 {
  position: relative;
}
.jq-tab-content .section h3 *[sp-collapse] {
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
}
.jq-tab-content .section h3 *[sp-collapse] > svg {
  width: 18px;
  height: 18px;
}
.jq-tab-content .section[data-section-collapsed="1"] > h3 {
  margin-bottom: 0;
}
.jq-tab-content .section[data-section-collapsed="1"] svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.jq-tab-content .section[data-section-collapsed="1"] .controlwrapper, .jq-tab-content .section[data-section-collapsed="1"] .control-field {
  display: none;
}
.jq-tab-content .controlwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 12px 3fr;
  grid-template-columns: 2fr 3fr;
  gap: 12px;
  margin-bottom: 12px;
  border: 1px solid #9ecfcf;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ddd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #86c3c3;
}
.jq-tab-content .controlwrapper.control-error {
  border-color: red;
}
.jq-tab-content .controlwrapper > .label {
  font-weight: 500;
}
.jq-tab-content .controlwrapper > .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.jq-tab-content .control-field.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 12px;
}
.jq-tab-content .control-field.text input {
  text-align: center;
  font-weight: 700;
  margin: 0;
  border: 0;
  border-radius: 4px;
}
.jq-tab-content .control-field.text.has-suffix input {
  border-radius: 4px 0 0 4px;
}
.jq-tab-content .control-field.text .suffix {
  margin: 0;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #363636;
  color: #fff;
  padding: 5px;
  border-radius: 0 4px 4px 0;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.jq-tab-content .duo-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.jq-tab-content .duo-input .prefix {
  width: auto;
  white-space: nowrap;
  margin: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.jq-tab-content input[type=text], .jq-tab-content input[type=number], .jq-tab-content input[type=password] {
  background-color: #444;
  color: #f1f1f1;
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

.dashboard-save-changes {
  margin-top: 40px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}